<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to Tractor Prediction App!</h1>
    <img src="/static/test_accuracy.jpg" alt="Test Accuracy" style="width: 50%;">
    <img src="/static/validation_accuracy.jpg" alt="Validation Accuracy" style="width: 50%;">
    <form action="/items">
        <button type="submit">Test Your Tractor</button>
    </form>
</body>
</html>
